
cpp_obook/\.idea/
cpp_obook/README.MD
cpp_obook/old/
cpp_obook/__pycache__/
cpp_obook/build/
cpp_obook/CMakeFiles/
cpp_obook/extern/
cpp_obook/Boost/
feed/

\.vscode/
\.externalToolBuilders
\.idea/

\.DS_Store

*.o

*.txt
cpp_obook/Boost/src/Boost/boost/archive/basic_xml_oarchive.hpp
